<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingzan.dao.CustomerInfoMapper">
  <resultMap id="BaseResultMap" type="com.dingzan.domain.CustomerInfo">
    <id column="cus_id" jdbcType="BIGINT" property="cusId" />
    <result column="cus_name" jdbcType="VARCHAR" property="cusName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="cus_type" jdbcType="VARCHAR" property="cusType" />
    <result column="cus_account" jdbcType="VARCHAR" property="cusAccount" />
    <result column="id_type" jdbcType="VARCHAR" property="idType" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="cus_label" jdbcType="VARCHAR" property="cusLabel" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cus_id, cus_name, mobile, comment, cus_type, cus_account, id_type, id_number, cus_label
  </sql>
  <select id="selectByExample" parameterType="com.dingzan.domain.CustomerInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customer_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_info
    where cus_id = #{cusId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from customer_info
    where cus_id = #{cusId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.dingzan.domain.CustomerInfoExample">
    delete from customer_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dingzan.domain.CustomerInfo">
    insert into customer_info (cus_id, cus_name, mobile, 
      comment, cus_type, cus_account, 
      id_type, id_number, cus_label
      )
    values (#{cusId,jdbcType=BIGINT}, #{cusName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{cusType,jdbcType=VARCHAR}, #{cusAccount,jdbcType=VARCHAR}, 
      #{idType,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, #{cusLabel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dingzan.domain.CustomerInfo">
    insert into customer_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cusId != null">
        cus_id,
      </if>
      <if test="cusName != null">
        cus_name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="cusType != null">
        cus_type,
      </if>
      <if test="cusAccount != null">
        cus_account,
      </if>
      <if test="idType != null">
        id_type,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="cusLabel != null">
        cus_label,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cusId != null">
        #{cusId,jdbcType=BIGINT},
      </if>
      <if test="cusName != null">
        #{cusName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="cusType != null">
        #{cusType,jdbcType=VARCHAR},
      </if>
      <if test="cusAccount != null">
        #{cusAccount,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="cusLabel != null">
        #{cusLabel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dingzan.domain.CustomerInfoExample" resultType="java.lang.Long">
    select count(*) from customer_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update customer_info
    <set>
      <if test="record.cusId != null">
        cus_id = #{record.cusId,jdbcType=BIGINT},
      </if>
      <if test="record.cusName != null">
        cus_name = #{record.cusName,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.cusType != null">
        cus_type = #{record.cusType,jdbcType=VARCHAR},
      </if>
      <if test="record.cusAccount != null">
        cus_account = #{record.cusAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.idType != null">
        id_type = #{record.idType,jdbcType=VARCHAR},
      </if>
      <if test="record.idNumber != null">
        id_number = #{record.idNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.cusLabel != null">
        cus_label = #{record.cusLabel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update customer_info
    set cus_id = #{record.cusId,jdbcType=BIGINT},
      cus_name = #{record.cusName,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=VARCHAR},
      cus_type = #{record.cusType,jdbcType=VARCHAR},
      cus_account = #{record.cusAccount,jdbcType=VARCHAR},
      id_type = #{record.idType,jdbcType=VARCHAR},
      id_number = #{record.idNumber,jdbcType=VARCHAR},
      cus_label = #{record.cusLabel,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dingzan.domain.CustomerInfo">
    update customer_info
    <set>
      <if test="cusName != null">
        cus_name = #{cusName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="cusType != null">
        cus_type = #{cusType,jdbcType=VARCHAR},
      </if>
      <if test="cusAccount != null">
        cus_account = #{cusAccount,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        id_type = #{idType,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="cusLabel != null">
        cus_label = #{cusLabel,jdbcType=VARCHAR},
      </if>
    </set>
    where cus_id = #{cusId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dingzan.domain.CustomerInfo">
    update customer_info
    set cus_name = #{cusName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      cus_type = #{cusType,jdbcType=VARCHAR},
      cus_account = #{cusAccount,jdbcType=VARCHAR},
      id_type = #{idType,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      cus_label = #{cusLabel,jdbcType=VARCHAR}
    where cus_id = #{cusId,jdbcType=BIGINT}
  </update>
</mapper>