<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingzan.dao.UserdataMapper">
  <resultMap id="BaseResultMap" type="com.dingzan.domain.Userdata">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dateInterval" jdbcType="VARCHAR" property="dateinterval" />
    <result column="zone" jdbcType="VARCHAR" property="zone" />
    <result column="PV" jdbcType="BIGINT" property="pv" />
    <result column="UV" jdbcType="BIGINT" property="uv" />
    <result column="activeUser" jdbcType="BIGINT" property="activeuser" />
    <result column="newUser" jdbcType="BIGINT" property="newuser" />
    <result column="avgTime" jdbcType="DOUBLE" property="avgtime" />
    <result column="sessionCount" jdbcType="BIGINT" property="sessioncount" />
    <result column="userStickiness" jdbcType="DOUBLE" property="userstickiness" />
    <result column="bounceRate" jdbcType="DOUBLE" property="bouncerate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, dateInterval, zone, PV, UV, activeUser, newUser, avgTime, sessionCount, userStickiness, 
    bounceRate
  </sql>
  <select id="selectByExample" parameterType="com.dingzan.domain.UserdataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from userdata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userdata
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from userdata
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.dingzan.domain.UserdataExample">
    delete from userdata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dingzan.domain.Userdata">
    insert into userdata (id, dateInterval, zone, 
      PV, UV, activeUser, newUser, 
      avgTime, sessionCount, userStickiness, 
      bounceRate)
    values (#{id,jdbcType=BIGINT}, #{dateinterval,jdbcType=VARCHAR}, #{zone,jdbcType=VARCHAR}, 
      #{pv,jdbcType=BIGINT}, #{uv,jdbcType=BIGINT}, #{activeuser,jdbcType=BIGINT}, #{newuser,jdbcType=BIGINT}, 
      #{avgtime,jdbcType=DOUBLE}, #{sessioncount,jdbcType=BIGINT}, #{userstickiness,jdbcType=DOUBLE}, 
      #{bouncerate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.dingzan.domain.Userdata">
    insert into userdata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dateinterval != null">
        dateInterval,
      </if>
      <if test="zone != null">
        zone,
      </if>
      <if test="pv != null">
        PV,
      </if>
      <if test="uv != null">
        UV,
      </if>
      <if test="activeuser != null">
        activeUser,
      </if>
      <if test="newuser != null">
        newUser,
      </if>
      <if test="avgtime != null">
        avgTime,
      </if>
      <if test="sessioncount != null">
        sessionCount,
      </if>
      <if test="userstickiness != null">
        userStickiness,
      </if>
      <if test="bouncerate != null">
        bounceRate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dateinterval != null">
        #{dateinterval,jdbcType=VARCHAR},
      </if>
      <if test="zone != null">
        #{zone,jdbcType=VARCHAR},
      </if>
      <if test="pv != null">
        #{pv,jdbcType=BIGINT},
      </if>
      <if test="uv != null">
        #{uv,jdbcType=BIGINT},
      </if>
      <if test="activeuser != null">
        #{activeuser,jdbcType=BIGINT},
      </if>
      <if test="newuser != null">
        #{newuser,jdbcType=BIGINT},
      </if>
      <if test="avgtime != null">
        #{avgtime,jdbcType=DOUBLE},
      </if>
      <if test="sessioncount != null">
        #{sessioncount,jdbcType=BIGINT},
      </if>
      <if test="userstickiness != null">
        #{userstickiness,jdbcType=DOUBLE},
      </if>
      <if test="bouncerate != null">
        #{bouncerate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dingzan.domain.UserdataExample" resultType="java.lang.Long">
    select count(*) from userdata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update userdata
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.dateinterval != null">
        dateInterval = #{record.dateinterval,jdbcType=VARCHAR},
      </if>
      <if test="record.zone != null">
        zone = #{record.zone,jdbcType=VARCHAR},
      </if>
      <if test="record.pv != null">
        PV = #{record.pv,jdbcType=BIGINT},
      </if>
      <if test="record.uv != null">
        UV = #{record.uv,jdbcType=BIGINT},
      </if>
      <if test="record.activeuser != null">
        activeUser = #{record.activeuser,jdbcType=BIGINT},
      </if>
      <if test="record.newuser != null">
        newUser = #{record.newuser,jdbcType=BIGINT},
      </if>
      <if test="record.avgtime != null">
        avgTime = #{record.avgtime,jdbcType=DOUBLE},
      </if>
      <if test="record.sessioncount != null">
        sessionCount = #{record.sessioncount,jdbcType=BIGINT},
      </if>
      <if test="record.userstickiness != null">
        userStickiness = #{record.userstickiness,jdbcType=DOUBLE},
      </if>
      <if test="record.bouncerate != null">
        bounceRate = #{record.bouncerate,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update userdata
    set id = #{record.id,jdbcType=BIGINT},
      dateInterval = #{record.dateinterval,jdbcType=VARCHAR},
      zone = #{record.zone,jdbcType=VARCHAR},
      PV = #{record.pv,jdbcType=BIGINT},
      UV = #{record.uv,jdbcType=BIGINT},
      activeUser = #{record.activeuser,jdbcType=BIGINT},
      newUser = #{record.newuser,jdbcType=BIGINT},
      avgTime = #{record.avgtime,jdbcType=DOUBLE},
      sessionCount = #{record.sessioncount,jdbcType=BIGINT},
      userStickiness = #{record.userstickiness,jdbcType=DOUBLE},
      bounceRate = #{record.bouncerate,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dingzan.domain.Userdata">
    update userdata
    <set>
      <if test="dateinterval != null">
        dateInterval = #{dateinterval,jdbcType=VARCHAR},
      </if>
      <if test="zone != null">
        zone = #{zone,jdbcType=VARCHAR},
      </if>
      <if test="pv != null">
        PV = #{pv,jdbcType=BIGINT},
      </if>
      <if test="uv != null">
        UV = #{uv,jdbcType=BIGINT},
      </if>
      <if test="activeuser != null">
        activeUser = #{activeuser,jdbcType=BIGINT},
      </if>
      <if test="newuser != null">
        newUser = #{newuser,jdbcType=BIGINT},
      </if>
      <if test="avgtime != null">
        avgTime = #{avgtime,jdbcType=DOUBLE},
      </if>
      <if test="sessioncount != null">
        sessionCount = #{sessioncount,jdbcType=BIGINT},
      </if>
      <if test="userstickiness != null">
        userStickiness = #{userstickiness,jdbcType=DOUBLE},
      </if>
      <if test="bouncerate != null">
        bounceRate = #{bouncerate,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dingzan.domain.Userdata">
    update userdata
    set dateInterval = #{dateinterval,jdbcType=VARCHAR},
      zone = #{zone,jdbcType=VARCHAR},
      PV = #{pv,jdbcType=BIGINT},
      UV = #{uv,jdbcType=BIGINT},
      activeUser = #{activeuser,jdbcType=BIGINT},
      newUser = #{newuser,jdbcType=BIGINT},
      avgTime = #{avgtime,jdbcType=DOUBLE},
      sessionCount = #{sessioncount,jdbcType=BIGINT},
      userStickiness = #{userstickiness,jdbcType=DOUBLE},
      bounceRate = #{bouncerate,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>