<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingzan.dao.UserinfoMapper">
  <resultMap id="BaseResultMap" type="com.dingzan.domain.Userinfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="operationTime" jdbcType="TIMESTAMP" property="operationtime" />
    <result column="userNumber" jdbcType="VARCHAR" property="usernumber" />
    <result column="sessionCount" jdbcType="BIGINT" property="sessioncount" />
    <result column="idCode" jdbcType="VARCHAR" property="idcode" />
    <result column="action_type" jdbcType="VARCHAR" property="actionType" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="clientIP" jdbcType="VARCHAR" property="clientip" />
    <result column="serverIP" jdbcType="VARCHAR" property="serverip" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, operationTime, userNumber, sessionCount, idCode, action_type, comment, clientIP, 
    serverIP, description
  </sql>
  <select id="selectByExample" parameterType="com.dingzan.domain.UserinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from userinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from userinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.dingzan.domain.UserinfoExample">
    delete from userinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dingzan.domain.Userinfo">
    insert into userinfo (id, operationTime, userNumber, 
      sessionCount, idCode, action_type, 
      comment, clientIP, serverIP, 
      description)
    values (#{id,jdbcType=BIGINT}, #{operationtime,jdbcType=TIMESTAMP}, #{usernumber,jdbcType=VARCHAR}, 
      #{sessioncount,jdbcType=BIGINT}, #{idcode,jdbcType=VARCHAR}, #{actionType,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{clientip,jdbcType=VARCHAR}, #{serverip,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dingzan.domain.Userinfo">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="operationtime != null">
        operationTime,
      </if>
      <if test="usernumber != null">
        userNumber,
      </if>
      <if test="sessioncount != null">
        sessionCount,
      </if>
      <if test="idcode != null">
        idCode,
      </if>
      <if test="actionType != null">
        action_type,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="clientip != null">
        clientIP,
      </if>
      <if test="serverip != null">
        serverIP,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="operationtime != null">
        #{operationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usernumber != null">
        #{usernumber,jdbcType=VARCHAR},
      </if>
      <if test="sessioncount != null">
        #{sessioncount,jdbcType=BIGINT},
      </if>
      <if test="idcode != null">
        #{idcode,jdbcType=VARCHAR},
      </if>
      <if test="actionType != null">
        #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="clientip != null">
        #{clientip,jdbcType=VARCHAR},
      </if>
      <if test="serverip != null">
        #{serverip,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dingzan.domain.UserinfoExample" resultType="java.lang.Long">
    select count(*) from userinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update userinfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.operationtime != null">
        operationTime = #{record.operationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usernumber != null">
        userNumber = #{record.usernumber,jdbcType=VARCHAR},
      </if>
      <if test="record.sessioncount != null">
        sessionCount = #{record.sessioncount,jdbcType=BIGINT},
      </if>
      <if test="record.idcode != null">
        idCode = #{record.idcode,jdbcType=VARCHAR},
      </if>
      <if test="record.actionType != null">
        action_type = #{record.actionType,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.clientip != null">
        clientIP = #{record.clientip,jdbcType=VARCHAR},
      </if>
      <if test="record.serverip != null">
        serverIP = #{record.serverip,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update userinfo
    set id = #{record.id,jdbcType=BIGINT},
      operationTime = #{record.operationtime,jdbcType=TIMESTAMP},
      userNumber = #{record.usernumber,jdbcType=VARCHAR},
      sessionCount = #{record.sessioncount,jdbcType=BIGINT},
      idCode = #{record.idcode,jdbcType=VARCHAR},
      action_type = #{record.actionType,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=VARCHAR},
      clientIP = #{record.clientip,jdbcType=VARCHAR},
      serverIP = #{record.serverip,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dingzan.domain.Userinfo">
    update userinfo
    <set>
      <if test="operationtime != null">
        operationTime = #{operationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usernumber != null">
        userNumber = #{usernumber,jdbcType=VARCHAR},
      </if>
      <if test="sessioncount != null">
        sessionCount = #{sessioncount,jdbcType=BIGINT},
      </if>
      <if test="idcode != null">
        idCode = #{idcode,jdbcType=VARCHAR},
      </if>
      <if test="actionType != null">
        action_type = #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="clientip != null">
        clientIP = #{clientip,jdbcType=VARCHAR},
      </if>
      <if test="serverip != null">
        serverIP = #{serverip,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dingzan.domain.Userinfo">
    update userinfo
    set operationTime = #{operationtime,jdbcType=TIMESTAMP},
      userNumber = #{usernumber,jdbcType=VARCHAR},
      sessionCount = #{sessioncount,jdbcType=BIGINT},
      idCode = #{idcode,jdbcType=VARCHAR},
      action_type = #{actionType,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      clientIP = #{clientip,jdbcType=VARCHAR},
      serverIP = #{serverip,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>